
/* ------------------------------------------------------------------------------------------- */
/* heading section ( three sides - left-side , middle-side , right-side ) starting .... */
/* ------------------------------------------------------------------------------------------- */

/* header */
.header{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 20px;
    height: 60px;
    z-index: 200;
}

/* header left ( icons for menu and youtube ) */
.header .left-side{
    display: flex;
    background-color:#000;
    width: 200px;
    align-items: center;
    gap: 16px;
    cursor: pointer;

}

/* header middle ( input,search and voice ) */
.header .middle-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* header middle input div class name */
.header .middle-side .search-bar{
    display: flex;
    border-radius: 40px;
    padding: 0px 0px 0px 16px;
    max-width: 600px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #303030;
}

/* header middle input field class name */
.header .middle-side .search-input-field{

    outline: none;
    border: none;
    background: transparent;
    padding: 10px 0px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
}

/* header middle input search icon div class name */
.header .middle-side .search-icon-container{
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #303030;
        width: 55px;
        justify-content: center;
}


/* void recoring */
.header .middle-side .voice-recorder{
    display: flex;
    cursor: pointer;
    background: #303030;
    margin-left: 12px;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
}

/* if user hover the icon */
.header .middle-side .voice-recorder:hover{
    background-color: #454242;

}

/* header right side */
.header .right-side{
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}

/* create video, notificatio */
.header .right-side .create-video,.notification{
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

/* if user hover create video, notification */
.header .right-side .create-video:hover,.notification:hover{
    width: 24px;
    height: 24px;
    background-color: #454242;
}

/* ------------------------------------------------------------------------------------------- */
/* heading section ( three sides - left-side , middle-side , right-side ) ending .... */
/* ------------------------------------------------------------------------------------------- */






/* main container */
.main-container{
display: flex;
width: 100%;
height: 100vh;
}
.main-container .sidebar-section{
    background: #000;
    margin-top: 60px;
    width: 250px;
    max-height: 91.499vh;
    height: 100%;
    overflow-y: auto;
}

.main-container .sidebar-section .first-section,.you-section,.subscription,.explore,.more-from-youtube,.no-title{
    padding: 0px 12px;
    margin-top: 10px;
}
.main-container .sidebar-section .link-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.main-container .sidebar-section .link-item:hover {

    background: #ffffff1a;
}

.main-container .sidebar-section .item-title {
    font-size: 14px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;

}





.main-container .sidebar-section .sidebar-footer{
    padding: 10px 6px 24px 24px;
}




.main-container .sidebar-section .links-container,
a {
    font-size: 13px;
    font-weight: 500;
    color: #aaa;
    /* padding: 10px 12px; */
    cursor: pointer;
    line-height: 22px;
    display: flex;
    gap: 8px;
}














.main-container .main-display{
    flex: 1;
    margin-top: 60px;
    background-color: #000;
    overflow-x:scroll ;
}

.main-container .main-display::-webkit-scrollbar{
   display: none;

}
/* main container */




/* cateogires */
 .categories-container {
    padding: 0px 20px;
}
.categories-section {
    display: flex;
    gap: 13px;
    flex-wrap: nowrap;
    overflow-x: auto;

    padding: 6px 0px;
    width: 100%;
    overflow-x: auto;
}
.main-container .main-display .categories-section::-webkit-scrollbar{
    display: none;
}
.main-container .main-display .categories-section .category-item {
    padding: 9px 15px;
    background: #ffffff1a;
    border-radius: 8px;
    color: #fff;
    flex: 0 0 auto;
    font-size: 14px;
    cursor: pointer;
}




/* video container */
/* videos container */
.main-container .main-display .videos-container {
    height: 100%;
    max-height: 80.9vh;
    overflow-y: auto;
    padding: 0px 20px 0px 20px;

}
.main-container .main-display .videos-container::-webkit-scrollbar {
    display: none;
}


.main-container .main-display .youtube-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-top: 20px;
    row-gap: 20px
}


.main-container .main-display  .youtube-videos .video-item {
    height: 300px;
    cursor: pointer;

}

.main-container .main-display  .youtube-videos .video-tag {
    height: 207px;
    width: 100%;
    background-color: #303030;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.main-container .main-display .youtube-videos .video-tag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-container .main-display  .youtube-videos .video-contents {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    position: relative;
    gap: 10px;
}






.main-container .main-display  .video-contents .video-titles {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: relative;
    padding-right: 15px;
flex: 1;
}


.main-container .main-display  .video-titles h4 {
    font-size: 15px;
    font-weight: 500;
    display: -webkit-box;
    color: white;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;

}


.main-container .main-display  .video-titles label {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
}


.main-container .main-display  .video-titles label:hover {
    color: #fff;
}


.main-container .main-display  .video-titles div {
    font-size: 13px;
    display: flex;
    font-weight: 400;
    gap: 10px;
    align-items: center;
}


.main-container .main-display  .video-titles .video-info {
    position: absolute;
    top: 1px;
    right: -3px;
    padding: 6px;
    border-radius: 100%;
}


.main-container .main-display  .video-titles .video-info:hover {
    background-color: #555555a6;
}





/*  */
.header .header-mobile-logo{
    display: none;
}




/* mobile menu */
.mobile-menu-container{
    bottom: 0px;
    position: fixed;
    width: 100%;
    display: none;
}
.mobile-menu{
    display: flex;
    background: #000;
    color: white;
    justify-content: space-around;
    align-items: center;


}
.mobile-menu .mobile-menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 12px 0px;
}
.mobile-menu .mobile-menu-item-image{
    width: 24px;
    height: 24px;
}

.mobile-menu .mobile-menu-item-title{
    font-size: 10px;
    text-align: center;

}





/* responsive classess */


@media (max-width:1760px){
    .main-container .main-display .youtube-videos {

           grid-template-columns: repeat(6, 1fr);

    }
}
@media (max-width:1660px){
    .main-container .main-display .youtube-videos {

           grid-template-columns: repeat(5, 1fr);

    }
}

@media (max-width:1560px){
    .main-container .main-display .youtube-videos {

           grid-template-columns: repeat(4, 1fr);

    }
}

@media (max-width:1440px){
    .main-container .main-display .youtube-videos {

           grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width:1260px){
    .main-container .sidebar-section{

        width: 230px;
    }
}



@media (max-width:1130px){
    .main-container .sidebar-section{

        width: 80px;
    }
    .main-container .sidebar-section .you-section,.subscription,.explore ,.more-from-youtube,.no-title,.sidebar-footer{
        display: none;

    }
    .main-container .sidebar-section .line-horizontally-container{
        display: none;
    }
    .main-container .sidebar-section .line-horizontally{
        display: none;
    }
    .main-container .sidebar-section .link-item{
        flex-direction: column;
    }
    .main-container .sidebar-section .item-title {
        width: fit-content;
        font-size: 10px;
        font-weight: 400;
    }
    .header .middle-side .voice-recorder {
        width: 40px;
    height: 35px;
    }
}

@media(max-width:1096px){
    .main-container .main-display .youtube-videos {
        grid-template-columns:repeat(2,1fr)
    }
    .main-container .main-display .youtube-videos .video-item{
        height: 320px;
    }
    .main-container .main-display .youtube-videos .video-tag{
        height: 230px;
    }
    .categories-section {
        padding: 0px 0px 10px 0px;
    }
}


@media(max-width:792px){
    .main-container .sidebar-section{
        display: none;
    }
}

@media(max-width:699px){
    .main-container .main-display .youtube-videos {
        grid-template-columns:repeat(1,1fr)
    }
    .main-container .main-display .youtube-videos .video-item{
        height: 300px;
    }
    .main-container .main-display .youtube-videos .video-tag{
        height: 200px;
    }
    .main-container .main-display .videos-container{
        padding:  0px 40px;
    }

}


@media(max-width:560px){
   
    .main-container .main-display .videos-container{
        padding:  0px 20px;
    }
    .header .menu{
        display: none;
    }
    .header .header-youtube-logo{
        display: none;
    }
    .header .header-mobile-logo{
        width: 34px;height: 34px;
        display: block;
    }
    .header .middle-side .search-input-field{
        font-size: 13px;
        width: 60px;
    }
    .header .middle-side .search-icon-container {
        width: 40px;
    }
    .header .middle-side .voice-recorder {
        display: none;
    }
    .header .right-side .create-video, .notification {
        display: none;
    }
    .header .right-side{
        padding: 0px;
    }
    .header .left-side{
        width: 40px;
    }
    .header .right-side {
width: 60px;
padding: 0px 20px 0px 0px
    }
    .main-container .main-display .video-contents .video-titles {
      
        padding-right: 30px;
    }
    .mobile-menu-container{
        display: block
    }
}






